In [41]:
import pandas as pd

In [42]:
df_amazon = pd.read_csv('../Data/sentiment labelled sentences/amazon_cells_labelled.txt', sep='\t', header=None)

In [43]:
df_amazon

                                                     0  1
0    So there is no way for me to plug it in here i...  0
1                          Good case, Excellent value.  1
2                               Great for the jawbone.  1
3    Tied to charger for conversations lasting more...  0
4                                    The mic is great.  1
..                                                 ... ..
995  The screen does get smudged easily because it ...  0
996  What a piece of junk.. I lose more calls on th...  0
997                       Item Does Not Match Picture.  0
998  The only thing that disappoint me is the infra...  0
999  You can not answer calls with the unit, never ...  0

[1000 rows x 2 columns]

In [44]:
data = []
with open('../Data/sentiment labelled sentences/imdb_labelled.txt', 'r', encoding='utf-8') as file:
    for line in file:
        # Split each line on the tab character
        parts = line.strip().split('\t')
        if len(parts) == 2:  # Ensure the line has exactly two parts
            data.append(parts)

# Convert the processed data into a DataFrame
df_imdb = pd.DataFrame(data)

In [45]:
df_imdb

                                                     0  1
0    A very, very, very slow-moving, aimless movie ...  0
1    Not sure who was more lost - the flat characte...  0
2    Attempting artiness with black & white and cle...  0
3         Very little music or anything to speak of.    0
4    The best scene in the movie was when Gerardo i...  1
..                                                 ... ..
995  I just got bored watching Jessice Lange take h...  0
996  Unfortunately, any virtue in this film's produ...  0
997                   In a word, it is embarrassing.    0
998                               Exceptionally bad!    0
999  All in all its an insult to one's intelligence...  0

[1000 rows x 2 columns]

In [46]:
df_yelp = pd.read_csv('../Data/sentiment labelled sentences/yelp_labelled.txt', sep='\t', header=None)

In [47]:
df_yelp

                                                     0  1
0                             Wow... Loved this place.  1
1                                   Crust is not good.  0
2            Not tasty and the texture was just nasty.  0
3    Stopped by during the late May bank holiday of...  1
4    The selection on the menu was great and so wer...  1
..                                                 ... ..
995  I think food should have flavor and texture an...  0
996                           Appetite instantly gone.  0
997  Overall I was not impressed and would not go b...  0
998  The whole experience was underwhelming, and I ...  0
999  Then, as if I hadn't wasted enough of my life ...  0

[1000 rows x 2 columns]

In [48]:
df = pd.concat([df_yelp, df_imdb, df_amazon], ignore_index=True)

In [49]:
df

                                                      0  1
0                              Wow... Loved this place.  1
1                                    Crust is not good.  0
2             Not tasty and the texture was just nasty.  0
3     Stopped by during the late May bank holiday of...  1
4     The selection on the menu was great and so wer...  1
...                                                 ... ..
2995  The screen does get smudged easily because it ...  0
2996  What a piece of junk.. I lose more calls on th...  0
2997                       Item Does Not Match Picture.  0
2998  The only thing that disappoint me is the infra...  0
2999  You can not answer calls with the unit, never ...  0

[3000 rows x 2 columns]

In [63]:
df_test = pd.read_csv('../Data/sentiment labelled sentences/imdb_labelled_cleaned.txt', sep='\t', header=None)

In [64]:
df_test

                                                     0    1
0    A very, very, very slow-moving, aimless movie ...  0.0
1    Not sure who was more lost - the flat characte...  0.0
2    Attempting artiness with black & white and cle...  0.0
3         Very little music or anything to speak of.    0.0
4    The best scene in the movie was when Gerardo i...  1.0
..                                                 ...  ...
745  I just got bored watching Jessice Lange take h...  0.0
746  Unfortunately, any virtue in this film's produ...  0.0
747                   In a word, it is embarrassing.    0.0
748                               Exceptionally bad!    0.0
749  All in all its an insult to one's intelligence...  0.0

[750 rows x 2 columns]

In [55]:
#Cleaning 

input_file = "../Data/sentiment labelled sentences/imdb_labelled.txt"
output_file = "../Data/sentiment labelled sentences/imdb_labelled_cleaned.txt"

# Open the file in binary mode to handle special characters
with open(input_file, "rb") as file:
    content = file.read()

# Replace NEL (\xC2\x85 in UTF-8) with standard newline (\n)
cleaned_content = content.replace(b"\xC2\x85", b"\n")

# Save the cleaned content to a new file
with open(output_file, "wb") as file:
    file.write(cleaned_content)

print("File cleaned and saved as:", output_file)

File cleaned and saved as: ../Data/sentiment labelled sentences/imdb_labelled_cleaned.txt